APP_NAME=practiq-be
GIN_MODE=debug
PORT=8083

DB_PORT=54323
DB_HOST=practiq-postgres-db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=practiq-db
DATABASE_URL=postgres://postgres:postgres@practiq-postgres-db:54323/practiq-db?sslmode=disable

# Must match auth-api-be JWT_SECRET exactly
JWT_SECRET=your-jwt-secret-here

AUTH_API_URL=http://localhost:8082
FRONTEND_URL=http://localhost:5174
